html
    head
        style
            include css/basic.css
        style
            include css/smalltableOverride.css
        title="Department Page"
    body
        h1(style="text-align: center;")="Department table"
    div
        table
            thead
                tr
                    th Code
                    th Name
                    th Faculty
            tbody
                each dep in departments
                    tr
                        td
                            a(href='/Courses?code=' + dep.Code) #{dep.Code}
                        td=dep.Name
                        td=dep.Faculty