html
    head
        title="Department Page"
        style(type='text/css').
            tr:nth-child(even) {
                background-color: #f2f2f2
            }
    body
        h1="Department table"
    div
        table
            thead
                tr
                    th Code
                    th Name
                    th Faculty
            tbody
                each dep in departments
                    tr
                        td=dep.Code
                        td=dep.Name
                        td=dep.Faculty